<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" 
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
     crossorigin="anonymous" referrerpolicy="no-referrer" />
     <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
     <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
     <!-- <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Oswald:wght@300&family=Ubuntu:wght@300&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="/css/style.css">
     
     <link rel="stylesheet" href="/css/media.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <div id="logo">
            <a href="/"><i class="fa-solid fa-utensils"></i></a>
        </div>
        <div id="links">
            <a href="/" >Home</a>
            <a href="/meal" >Meal</a>
            <a href="/create" class="current">Create</a>
        </div>

        <div id="burger">
            <div></div>
            <div></div>
            <div></div>
        </div>
        
    </nav>

    <div id="vertnav">
        <a href="/" >Home</a>
        <a href="/meal" >Meal</a>
        <a href="/create" class="current">Create</a>
    </div>


    <div class="content">
        <form id="form_auth">
            <h2>Authentication - Admin</h2>
            <input type="text" placeholder="username.." required id="username">
            <input type="password" placeholder="password.." required id="password">
            <button type="submit">Login</button>
            <div class="err">Error</div>
            <div class="success">Successfully logged in</div>
        </form>


        <div id="manage">
            <div class="flex" style="align-items: flex-start;">
                <form class="add" style="width: 300px;">
                    <h3>Add new meal</h3>
                    <input type="text" placeholder="Title.." required id="title">
                    <textarea id="ings" required></textarea>
                    <button >Add</button>
                    <br>
                    <div class="success">Added Successfully</div>
                </form>

                <div id="listing">
                    <h3>Listing of meal</h3>
                    <span>Loading...</span>
                    
                    <div id="res"></div>
                    <div class="succes">Deleted Successfully</div>
                </div>
            </div>
        </div>
    </div>



    <!-- <footer>
        <div>
            <a href="https://www.facebook.com/medcherif.dev">
                <i class="fa-brands fa-facebook"></i>
                <span>Contact me</span>
            </a>
        </div>

      

    </footer> -->
    <script src="js/jq.js"></script>
    <script src="js/main.js"></script>
    <script src="js/login.js"></script>
</body>
</html>